@charset "utf-8";
/**
 * base.css
 */
html,
body {
  position: relative;
  min-height: 100%;
}
html {
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s;
  /* 【PC】10px(= 1.0rem, 1.0em) */
  font-size: 62.5%;
}

@media screen and (max-width:414px) {
  html {
    /* 【SP】iPhone5の画面サイズを基準に文字サイズ調整 */
    font-size: calc(100vw / 32);
  }
}
