@charset "utf-8";
/**
 * style.css
 */

.l-body {
  background-color: #dfdfdf;
}
.l-header,
.l-footer {
  background-color: #fff;
  padding: 2.0rem;
}
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}
.l-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #dfdfdf;
  font-size: 1.0rem;
  text-align: center;
}
.l-wrap {
  width: 1040px;
  margin: 59px auto 0;
  padding: 2.0rem 3.0rem 3.0rem;
  background-color: #fff;
}
h1, h2 {
  /**
   * 【PC,SP共通】フォント幅は数値で指定
   */
  font-weight: 700;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
}

p {
  margin-bottom: 1.0rem;
  font-size: 1.4rem;
  line-height: 1.5;
}

@media screen and (max-width: 414px) {
  .l-body {
    background-color: #fff;
  }
  /**
   * SP各種サイズ指定目安
   *
   * 1. 1.9rem まで 0.2rem 下げ
   *
   * 2. 2.7rem まで 0.3rem 下げ
   *
   * 3. 3.3rem まで 0.4rem 下げ
   *
   * 4. 4.0rem まで 0.5rem 下げ
   */
  .l-header,
  .l-footer {
    /**
     * デザインデータ上で、
     * padding-top&padding-bottomが1.7rem,
     * padding-left&padding-rightが2.0rem の場合
     */
    padding: 1.5rem 1.7rem;
  }
  .l-header {
    font-size: 1.4rem;
  }
  .l-wrap {
    width: 100%;
    /**
     * デザインデータ上で、
     * padding-topが1.5rem,
     * padding-left&padding-rightが2.0rem の場合
     */
    padding: 1.3rem 1.7rem 1.7rem;
  }

  h1 {
    /* デザインデータ上で2.8remの場合 */
    font-size: 2.4rem;
  }

  h2 {
   /* デザインデータ上で2.4remの場合 */
   font-size: 2.1rem;
  }

  p {
    /* デザインデータ上で1.4remの場合 */
    font-size: 1.2rem;
  }
}